# Data Science Interview

In [146]:
import json
jason_data = open('/home/jerd/GAStudent_DAT_SF_13/DAT_SF_13/exercise/ga_hw_logins.json')
data = json.load(jason_data)

In [147]:
from datetime import datetime
for i in range(len(data)):
    data[i] = datetime.strptime(data[i],"%Y-%m-%d %H:%M:%S")

In [148]:
import pandas as pd
data_frame = pd.DataFrame(data, columns = ['Date'])
data_frame.head(5)

                 Date
0 2014-01-20 00:01:31
1 2014-01-20 00:01:51
2 2014-01-20 00:02:12
3 2014-01-20 00:03:13
4 2014-01-20 00:05:34

In [159]:
for i in range(len(data_frame.Date)):
    data_frame['Day'][i] = data_frame['Date'][i].day

KeyError: 'Day'

In [142]:
data_frame.head()

                 Date  Day
0 2014-01-20 00:01:31   26
1 2014-01-20 00:01:51   26
2 2014-01-20 00:02:12   26
3 2014-01-20 00:03:13   26
4 2014-01-20 00:05:34   26

In [110]:
#import sqlite function
import sqlite3
db = sqlite3.connect(':memory:')
db = sqlite3.connect('database2')
cursor= db.cursor()

In [111]:
db = sqlite3.connect('database2')
cursor= db.cursor()

In [177]:
#create table
cursor.execute("create table date2(timestamp,day,hour)")

In [178]:
data[1].date

In [179]:
#fill in table
for i in range(len(data)):
    cursor.execute("insert into date2(timestamp,day,hour) values (?,?,?)", (data[i], data[i].day, data[i].hour))

In [196]:
#print the table
for row in cursor.execute("select day, hour from date2"):
    #print row

IndentationError: expected an indented block (<ipython-input-196-f03a2a0309f0>, line 3)

In [201]:
import numpy as np
count_query = cursor.execute("SELECT day, hour, count(*) as maxhour from date2 group by day,hour order by maxhour Desc Limit 1")

In [202]:
count_query.fetchall()

[(22, 2, 54)]